.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.task-text {
  text-overflow: ellipsis;
  width: 79%;
  display: inline-block;
  overflow: auto;
}

.task--completed {
  text-decoration: line-through;
}
