* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #333;
    color: aliceblue;
    margin: 0;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    margin-left: 50px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .todos-section {
    display: flex;
    flex-direction: column;
  }
  
  
  .error {
    width: 66%;
    color: red;
  }
  
  .delete-button-wrap {
    display: flex;
    flex-wrap: wrap;
  } 

  .delete-button-label {
    font-size: 30px;
  }
  